/* You can add global styles to this file, and also import other style files */
:root {
     --primary-color: #F58601;
     --secondary-color: #332F29;
     --terciary-color:#5C4E37;
 }


html, body { height: 100%; }
body {
     margin: 0;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      background-color: var(--primary-color);
      color: snow;
     }
